            <ul class="list-unstyled">
              <li>
                <a href="https://github.com" rel="nofollow">
                  GitHub
                </a>
              </li>
              <li>
                <a href="https://segmentfault.com/" target="_blank" rel="nofollow">
                  segmentfault
                </a>
              </li>	
              <li>
                <a href="https://javapapers.com/" target="_blank" rel="nofollow">
                  Javapapers
                </a>
              </li>			  
            </ul>
